.cart {
  padding: 30px 15px;

  @include min-media('t') {
    padding: 60px 0;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  &__item {
    flex-direction: row;
    margin: 0 auto;

    @include min-media('t') {
      width: 80%;
    }

    @include min-media('d') {
      width: 60%;
    }

    & + .cart__item {
      margin-top: 30px;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  &__btn {
    & + .cart__btn {
      margin-top: 10px;
    }
  }

  &__img {
    width: 100%;
    margin-top: 30px;

    @include min-media('t') {
      width: 80%;
    }

    @include min-media('t') {
      width: 60%;
      margin-top: 0;
    }
  }

  &--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    height: 100vh;
    justify-content: center;
    padding: 0;
    text-align: center;

    @include min-media('t') {
      height: auto;

      .cart {
        &__wrapper {
          flex: 1;
          margin: 30px 140px;
        }
      }
    }

    @include min-media('d') {
      flex-direction: row;
      text-align: left;

      .cart {
        &__wrapper {
          flex: 1;
          margin: 0 140px;
        }
      }
    }
  }

  &__summary {
    width: 60%;
    border-top: 1px solid $gray-light;
    padding: 20px;
    text-align: center;
    color: $tradewind-dark;
    margin-bottom: 16px;

    span {
      color: $black;
    }
  }
}