.compare-table {
  display: flex;
  align-items: center;
  justify-content: center;

  @include min-media('d') {
    &.container {
      max-width: none;
      margin: 0;
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: relative;
  }

  &__row {
    list-style: none;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex-shrink: 0;
    text-align: center;

    li {
      padding: 10px;

      &:first-child {
        flex: 1;
      }

      &:not(.compare-table__legend) {
        border-bottom: 1px solid $gray-dark;
        min-width: 150px;
      }
    }

    &--head {
      position: sticky;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: $white;
      align-self: stretch;

      @include max-media('tMax') {
        display: none;
      }
    }
  }

  &__legend {
    background: $tradewind-dark;
    color: $white;
    border: none;
    min-width: 200px;
    flex-shrink: 0;
    border-bottom: 1px solid $white;

    &:first-child {
      background: transparent;
      box-shadow: none;
      border-top: 1px solid $white;
    }
  }

  &__goods {
    position: relative;

    &:hover {
      box-shadow: none;
    }
  }

  &__title {
    padding: 10px;
    background: $tradewind-dark;
    color: $white;
    border-radius: 10px;
    text-align: center;
  }

  &--empty {
    height: calc(100vh - 44px);

    .compare-table {
      &__content {
        width: 100%;
        justify-content: center;
      }

      &__title {
        max-width: 1170px;
        width: 100%;
      }
    }
  }
}