.goods-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin-bottom: 30px;
    width: 100%;

    @include min-media('t') {
      width: 260px;
      height: 450px;
      margin-right: 30px;
    }
  }
}