.credit-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% + 20px);
  height: 220px;
  border-radius: 15px;
  color: white;
  position: relative;
  margin: 0 -10px;

  @include min-media('t') {
    width: 430px;
    height: 270px;
    margin: 0 auto;
  }

  &__wrapper {
    padding: 25px 15px;
    position: relative;
    z-index: 4;
    height: 100%;
    text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
    user-select: none;
  }

  &__cover {
    height: 100%;
    background-color: #1c1d27;
    position: absolute;
    height: 100%;
    background-color: #1c1d27;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(6, 2, 29, 0.45);
    }
  }

  &__bg {
    max-width: 100%;
    display: block;
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__item {
    overflow: hidden;
    transform: perspective(2000px) rotateY(0deg) rotateX(0deg) rotate(0deg);
    transform-style: preserve-3d;
    transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    backface-visibility: hidden;
    height: 100%;

    &--back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
      z-index: 2;
      padding: 0;
      height: 100%;

      .credit-card__cover {
        transform: rotateY(-180deg);
      }
    }
  }

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 25px;

    @include min-media('t') {
      margin-bottom: 40px;
    }
  }

  &__chip {
    width: 50px;

    @include min-media('t') {
      width: 60px;
    }
  }

  &__dateTitle {
    opacity: 0.7;
    width: 100%;
    font-size: 12px;
    padding-bottom: 5px;

    @include min-media('t') {
      font-size: 13px;
      padding-bottom: 6px;
    }
  }

  &__band {
    background: rgba(0, 0, 19, 0.8);
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 2;
    margin-top: 20px;

    @include min-media('t') {
      margin-top: 30px;
    }
  }

  &__cvv {
    text-align: right;
    position: relative;
    z-index: 2;
    padding: 15px;

    .credit-card__type {
      opacity: 0.7;
    }
  }

  &__cvvTitle {
    padding-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 5px;
  }

  &__cvvBand {
    background: #fff;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    color: #1a3b5d;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0px 10px 20px -7px rgba(32, 56, 117, 0.35);
    height: 40px;
    margin-bottom: 20px;

    @include min-media('t') {
      height: 45px;
      margin-bottom: 30px;
    }
  }

  &__numberItem {
    width: 13px;
    display: inline-block;

    &.-active {
      width: 16px;
    }

    @media screen and (max-width: 360px) {
      width: 12px;

      &.-active {
        width: 8px;
      }
    }

    @include min-media('t') {
      width: 16px;

      &.-active {
        width: 30px;
      }
    }
  }

  &__dateItem {
    position: relative;

    span {
      display: inline-block;
    }
  }

  &__nameItem {
    font-size: 16px;
  }

  &__number {
    display: flex;
    justify-content: center;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    font-size: 27px;
    display: inline-block;
    cursor: pointer;
    font-size: 21px;
    margin-bottom: 15px;
    padding: 10px 10px;

    @media screen and (max-width: 360px) {
      font-size: 19px;
      margin-bottom: 10px;
      padding: 10px 10px;
    }

    @include min-media('t') {
      font-size: 27px;
      margin-bottom: 35px;
      padding: 10px 15px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  &__info_label {
    font-size: 14px;
  }

  &__date {
    flex-wrap: wrap;
    margin-left: auto;
    padding: 10px;
    display: inline-flex;
    width: 100px;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 16px;
  }

  &__info_name {
    padding: 10px;
  }

  &--active {
    .credit-card__item {
      &--front {
        transform: perspective(1000px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
      }
      &--back {
        transform: perspective(1000px) rotateY(0) rotateX(0deg) rotateZ(0deg);
      }
    }
  }
}

// TRANSITION
.slide-fade-up-enter {
  opacity: 0;
  transform: translateY(15px);
  pointer-events: none;
}
.slide-fade-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.25s ease-in-out;
  position: relative;
}
.slide-fade-up-exit-active {
  transition: all 0.25s ease-in-out;
  transform: translateY(-15px);
  opacity: 0;
}
.slide-fade-up-exit {
  opacity: 1;
  transform: translateY(0);
}
.slide-fade-up-exit-done {
  pointer-events: none;
}
