.goods-item {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $black;
  padding: 16px;
  box-shadow: 0 3px 6px rgba($black, .2);
  transition: .4s;

  @include min-media('d') {
    box-shadow: none;

    &:hover {
      box-shadow: 0 3px 6px rgba($black, .2);
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;

    @include min-media('t') {
      width: 185px;
      height: 185px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: $black;
    text-decoration: none;
    transition: .2s;

    @include min-media('d') {
      &:hover {
        color: $tradewind-dark;
      }
    }

    & + .goods-item__description-info, & + .goods-item__description {
      margin: 18px 0 0;
    }
  }

  &__description {
    font-size: 13px;
    line-height: 18px;
  }

  &__count {
    opacity: 0.6;
    margin-top: 10px;
  }

  &__price {
    font-weight: 500;
  }

  &__description-info {
    margin-top: 16px;

    @include min-media('t') {
      margin-top: auto;
    }
  }

  &__btn {
    margin-top: 10px;

    &.btn {
      width: 100%;
    }
  }

  &__text-out {
    font-size: 14px;
    opacity: .5;
  }

  &__btn-remove {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 16px;

    img {
      width: 14px;
      height: 14px;
    }
  }

  &__fav, &__compare {
    position: absolute;
    right: 20px;
    border: none;
  }

  &__fav {
    top: 20px;
  }

  &__compare {
    top: 50px;
  }

  &--row {
    flex-direction: row;

    @include max-media('mMax') {
      padding-right: 40px;
    }

    .goods-item {
      &__img {
        width: 120px;
        height: 120px;
        margin: 0;
        margin-right: 16px;
      }
    }
  }

  &--detail {
    .goods-item {
      &__img {
        width: 40%;
        height: auto;
      }

      &__price {
        @include min-media('d') {
          font-size: 20px;
        }
      }

      &__btn {
        @include min-media('d') {
          max-width: 50%;
        }
      }
    }
  }
}