.favorites-list {
  &__list {
    margin-top: 20px;
  }

  &__item {
    @include min-media('t') {
      height: 400px;
    }
  }

  &--empty {
    height: calc(100vh - 44px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .favorites-list {
      &__wrapper {
        padding: 10px;
        background: $tradewind-dark;
        color: $white;
        border-radius: 10px;
        text-align: center;
        width: 100%;
      }
    }
  }
}