.header {
  display: flex;
  background-color: $tradewind;

  &__container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include min-media('t') {
      justify-content: center;
    }
  }

  &__nav {
    position: relative;
    color: $white;
    background-color: transparent;
    text-transform: uppercase;
    border-right: 1px solid $tradewind-light;
    border-left: 1px solid $tradewind-light;
    padding: 14px 23px;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    transition: .4s ease;

    &:first-child, &:last-child {
      border-left: none;
      border-right: none;
    }

    @include min-media('t') {
      border-left: none;

      &:first-child {
        border-left: 1px solid $tradewind-light;
        border-right: 1px solid $tradewind-light;
      }

      &--right {
        border-left: 1px solid $tradewind-light;
      }
    }

    @include min-media('d') {
      &:hover {
        background-color: $tradewind-light;
      }

      &:last-child {
        border-right: 1px solid $tradewind-light;
      }
    }

    &--right {
      margin-left: auto;
    }

    &--icon {
      .header__count {
        position: absolute;
        top: 4px;
        left: auto;
        right: 10px;
        margin-left: 0;
      }
    }

    svg {
      color: transparent;
      fill: #028FA3;
      fill: white;
      width: 16px;
      height: 16px;
    }
  }

  &__count {
    margin-left: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $white;
    color: $black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: relative;
    top: -4px;
    font-size: 12px;
  }
}