.goods-detail {
  &__product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    @include min-media('t') {
      flex-direction: row;
    }

    @include min-media('d') {
      margin-bottom: 50px;
    }
  }

  &__product-col {
    & + & {
      width: 100%;

      @include min-media('d') {
        margin-left: 40px;
      }
    }
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;

    @include min-media('d') {
      font-size: 30px;
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__option {
    display: flex;

    & + & {
      margin-top: 5px;
    }
  }

  &__option-title {
    text-align: left;
    min-width: 135px;
    opacity: 0.3;
  }

  &__actions {
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
    padding: 20px 0;
    margin: 20px 0 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  &__tab {
    font-size: 18px;
    border: none;
    border-bottom: 3px solid transparent;
    text-align: left;
    padding: 5px 0;
    margin: 0 40px 0 0;
    color: $gray-dark;
    background-color: $white;
    transition: .4s;
    cursor: pointer;
    opacity: .5;
    font-weight: 500;

    &.active {
      color: $black;
      background-color: $white;
      opacity: 1;
      border-color: $tradewind;
    }

    @include min-media('d') {
      &:hover {
        color: $black;
        background-color: $white;
        opacity: 1;
        border-color: $tradewind;
      }
    }
  }

  &__tabs-content {
    margin-top: 30px;

    p {
      margin-bottom: 10px;
    }

    @include min-media('d') {
      max-width: 60%;
      line-height: 25px;
    }
  }

  &__actions-row {
    display: flex;
    align-items: center;
    width: 100%;

    button + button {
      margin-left: 20px;
    }
  }

  &__btn-icon {
    &.btn--svg {
      img, svg {
        width: 35px;
        height: 35px;
      }
    }
  }
}