.order-success {
  margin: 30px auto;

  &--empty {
    width: 90%;
    text-align: center;
  }

  @include min-media('d') {
    width: 60%;
  }

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  &__item {
    border: 1px solid $tradewind-dark;
    padding: 20px;
    border-radius: 4px;
    color: $black;
    width: 60%;
    margin: 0 auto;

    & + & {
      margin-top: 20px;
    }
  }

  &__title {
    border-bottom: 1px solid;
    opacity: .5;
    margin-bottom: 8px;
    padding-bottom: 4px;
    font-size: 14px;
  }
}