@import './variables.scss';
@import './fonts.scss';
@import './media.scss';

@import '../../components/Cart/cart.scss';
@import '../../components/CreditCard/credit-card.scss';
@import '../../components/GoodsItem/goods-item.scss';
@import '../../components/GoodsList/goods-list.scss';
@import '../../components/Header/header.scss';
@import '../../components/Order/order.scss';
@import '../../components/Sort/sort.scss';
@import '../../components/Order/OrderSuccess/order-success.scss';
@import '../../components/GoodsDetail/goods-detail.scss';
@import '../../components/FavoritesList/favorites-list.scss';
@import '../../components/ComparisonTable/comparison-table.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.btn {
  border: 1px solid transparent;
  color: $white;
  background-color: $tradewind;
  font-size: 14px;
  line-height: 17px;
  width: auto;
  cursor: pointer;
  border-radius: 30px;
  padding: 12px 32px;
  text-decoration: none;
  transition: .4s;

  @include min-media('d') {
    &:hover {
      background-color: $tradewind-dark;
    }
  }

  &--secondary {
    color: $tradewind-neon;
    border-color: $tradewind-neon;
    background-color: $white;

    @include min-media('d') {
      &:hover {
        color: $white;
        background-color: $tradewind;
        border-color: transparent;
      }
    }
  }

  &--link {
    border: none;
    background-color: transparent;
    color: $tradewind-dark;
    padding: 0;

    @include min-media('d') {
      &:hover {
        background-color: transparent;
        color: $tradewind;
      }
    }
  }

  &--svg {
    img, svg {
      width: 20px;
      height: 20px;
    }

    svg {
      color: $white;
      fill: $gray-dark;
      transition: .4s;
    }

    &.active {
      svg {
        color: $tradewind-dark;
        fill: $tradewind-dark;
      }
    }

    @include min-media('d') {
      &:hover {
        svg {
          fill: $tradewind-dark;
        }
      }
    }
  }
}

.link {
  color: $white;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 20px 0;
  width: 90%;

  @include min-media('t') {
    padding: 40px 0;
  }

  @include min-media('d') {
    padding: 80px 0;
  }
}