@font-face {
  font-family: 'Roboto';
  src:
    url('~@assets/fonts/Roboto-Bold.woff') format('woff'),
    url('~@assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('~@assets/fonts/Roboto-Medium.woff') format('woff'),
    url('~@assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Roboto';
  src:
    url('~@assets/fonts/Roboto-Regular.woff') format('woff'),
    url('~@assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
