// Breakpoints
$min-media-sizes: (
  "m": 375px,
  "t": 767px,
  "d": 1024px,
  "xl": 1280px,
  "xxl": 1440px,
  "xxxl": 1600px
);

$max-media-sizes: (
  "sMax": 374px,
  "mMax": 767px,
  "tMax": 1023px,
  "dMax": 1279px
);

// Colors
$white: #fff;
$black: #000;
$tradewind: #6dbfbc;
$tradewind-light: #99d2d0;
$tradewind-neon: #28bdb7;
$tradewind-dark: #028FA3;
$red: #eb5757;
$gray-light: #ececec;
$gray-dark: #555555;
