.sort {
  width: 100%;
  margin-bottom: 20px;

  &__checkbox {
    display: none;

    & + label {
      border: 1px solid $tradewind-neon;
      border-radius: 4px;
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
      transition: .4s;
      width: 100%;
      display: inline-flex;
      justify-content: center;

      @include min-media('t') {
        width: auto;
        padding: 5px;
      }
    }

    &:checked + label {
      color: $white;
      background-color: $tradewind-dark;
      border-color: $tradewind-dark;
    }
  }

  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    font-size: 14px;
    border: 1px solid $tradewind-neon;
    background: transparent;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    transition: .4s;
    margin-bottom: 10px;

    @include min-media('t') {
      width: auto;
      margin-bottom: 0;
      padding: 5px;
    }

    @include min-media('d') {
      &:hover {
        border-color: $tradewind-light;
      }
    }

    img {
      height: auto;
      opacity: 0;
      width: 0;
      visibility: hidden;
      transform: rotate(90deg);
      transition: opacity .4s;
    }

    &.asc {
      img {
        width: 15px;
        opacity: 1;
        visibility: visible;
        transform: rotate(270deg);
      }
    }

    &.desc {
      img {
        width: 15px;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__reset {
    font-size: 14px;
    margin-top: 10px;

    &.btn {
      width: 100%;
    }

    @include min-media('t') {
      margin-left: 16px;
      margin-top: 0;

      &.btn {
        width: auto;
      }
    }
  }
}